@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: normal;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
            format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
            format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
            format("truetype");
}
/*전체 페이지*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "NanumBarunGothic";
    word-break: keep-all;
}
ul,
li {
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    /* white-space: nowrap; */
}
ul {
    margin-bottom: 2px;
}
li {
    margin: 0.5%;
}
a {
    text-decoration: none;
}
a:link {
    color: #444;
}
a:visited {
    color: #444;
}

::selection {
    background-color: #bdd600;
}
body {
    height: 1;
    color: #444;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1;
}
#wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

/* 헤더 */
header {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
}
.header_inner {
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}
.header_inner {
    display: inline-block;
    display: flex;
    align-items: center;
}
.header_inner .img {
    background: url(../../img/logo_02.png) no-repeat center;
    background-size: 100%;
    width: 120px;
    height: 40px;
    margin-left: 13px;
}
.header_inner span {
    padding-top: 3px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 900;
}
/* 사이드 메뉴 */
#container {
    display: flex;
}
#container > .sidebar {
    position: fixed;
    top: 40px;
    float: left;
    width: 12%;
    height: 100%;
    align-items: stretch;
    background-color: rgb(240, 240, 240);
}
#container > .contents {
    position: fixed;
    top: 40px;
    right: 0;
    float: right;
    width: 88%;
    height: 100%;
    align-items: stretch;
    /* 배경 입시 선정 */
    background-color: white;
}
#container > .sidebar > nav li {
    display: none;
}
#container > .sidebar > nav {
    padding-top: 20px;
}
#container > .sidebar > nav ul {
    width: 80px;
    margin: 25px 0px 25px 20px;
    font-size: 16px;
    font-weight: 900;
}
#container > .sidebar > nav li {
    font-size: 11px;
    margin: 5px 0;
    padding-left: 5px;
    width: 125px;
}

/* contents */
#cm_detail_box {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
/* title */
#cm_detail_box #cm_detail_title {
    line-height: 2;
    font-weight: bold;
    border-bottom: 1px solid rgb(188, 216, 53);
}
/* table */
#cm_detail table {
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.2;
    font-size: 16px;
}
#cm_detail table th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 3px solid #888;
}
#cm_detail table td {
    border-bottom: 1px solid rgb(153, 153, 153, 0.5);
}
#cm_detail table td #kor_first_name,
#cm_detail table td #kor_last_name,
#cm_detail table td #eng_first_name,
#cm_detail table td #eng_last_name {
    width: 100px;
}

/* btn */
#form_btn {
    text-align: right;
    margin-top: 20px;
}
#form_btn input {
    width: 150px;
    height: 50px;
}
#form_btn input[type="submit"] {
    border: 3px solid rgb(188, 216, 53);
    background-color: #fff;
}
#form_btn input[type="submit"]:hover {
    background-color: rgb(188, 216, 53);
    color: #fff;
}
#form_btn input[type="button"] {
    border: none;
    background-color: rgb(188, 216, 53);
}
#form_btn input[type="button"]:hover {
    background-color: rgb(153, 153, 153, 0.58);
    color: #fff;
}
